* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.gameContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#winnerDisplay {
    margin-bottom: 2rem;
}
#picks {
    display: none;
    justify-content: center;
    align-items: center;
}

#picks img {
    margin: 1.5rem;
}

#picks div {
    min-width: 30rem;
}

button {
    cursor: pointer;
    min-width: 10rem;
    padding: 0.5em 0;
    font-size: 1.5rem;
    border-radius: 1rem;
}

#rock {
    border: none;
    background-image: linear-gradient(
        to right top,
        #552c01,
        #653603,
        #764003,
        #884b02,
        #995600
    );
    color: white;
}

#rock:hover {
    background-image: linear-gradient(
        to right top,
        #7c4001,
        #8a4901,
        #975201,
        #a55b01,
        #b36500
    );
}

#paper {
    border: none;
    background-image: linear-gradient(
        to right top,
        #b1b1b1,
        #bdbdbd,
        #c8c8c8,
        #d4d4d4,
        #e0e0e0
    );
}

#paper:hover {
    background-image: linear-gradient(
        to right top,
        #c7c7c7,
        #d1d1d1,
        #dbdbdb,
        #e6e6e6,
        #f0f0f0
    );
}

#scissor {
    border: none;
    background-image: linear-gradient(
        to right top,
        #3d8c00,
        #449d00,
        #4cae00,
        #53bf00,
        #5bd100
    );
}

#scissor:hover {
    background-image: linear-gradient(
        to right top,
        #46a100,
        #4db000,
        #53c000,
        #5ad000,
        #61e000
    );
}

.scores {
    display: flex;
    justify-content: end;
    align-items: center;
}

.scores h3 {
    font-size: 2rem;
    margin-right: 5rem;
}

#turn {
    margin-bottom: 1rem;
}
